<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
      <h1 class="text-center">Impressum</h1>
      <p>Lorem ipsum</p>
      <p class="text">Für Designer, Schriftsetzer, Layouter, Grafikenthusiasten und alle anderen.</p>
      <p class="text">Ein Projekt startet und doch es gibt noch keinen Text, allerdings sollte das Layout schon bald präsentiert werden ... was tun?</p>
      <p class="text">Damit das Projekt gleich starten kann benutze einfach etwas Lorem ipsum - Blind-, Füll-, Dummy-, Nachahmungs-, Platzhaltertext.</p>
      <p class="text">Generiere einfach soviel Lorem Ipsum Text wie du brauchst, kopiere und füge ihn in dein Layout als vorübergehenden Platzhalter ein. Somit sieht das Projekt ein Stückchen vollständiger aus als zuvor. Viel Spaß dabei.</p></td>
    </div>
  </div>
</div>