<div class="row">
  <div class="col-sm-8">
    <h1>Der Rekord Versuch</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <img src="http://www.richti750.com/uploads/2/6/1/0/26102080/1408435903.png"><img src="http://www.richterswil.ch/de/images/41fde0a94104e.gif">
  </div>
  <div class="col-sm-4">
    <img src="http://placehold.it/350x350" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Wann Wie Wo</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
    <ul>
      <li>Erstens</li>
      <li>Dann Zweitens</li>
      <li>Und zu letzt</li>
    </ul>
    <h2 class="text-center">Interessiert?</h2>
    <%= link_to "Jetzt provisorisch Anmelden", new_registration_path, class: "btn btn-primary btn-lg col-sm-offset-3 col-sm-6" %>
  </div>
</div>
