<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>750 Jahre Richterswil / Anmeldebestätigung Guinness Weltrekordversuch</h1>
    <p>
      Vielen Dank für deine Anmeldung zur Teilnahme am Weltrekordversuch. Beachte bitte die unten
      stehenden Informationen.
    </p>
    <h2>Informationen zum Ablauf.</h2>
    <p>
      Es läuft wie folgt ab:
    </p>
</body>
</html>
