<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Anmeldebestätigung Guinness Weltrekord Versuch</h1>
    <p>
      Vielen dank dass sie sich für den Weltrekord Versuch angemeldet haben. Beachten sie bitte die unten
      stehenden Informationen:
    </p>
    <h2>Informationen zum Ablauf.</h2>
    <p>
      Es läuft wie folgt ab:
    </p>
</body>
</html>