<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Meine Daten ändern</h1>

      <%= render 'form', edit_form: true %>

      <div class="alert alert-info col-md-offset-2 col-md-10">
        <h4>Hinweis zum Datenschutz</h4>
        <p>Deine persönlichen Daten werden nur dazu verwendet, dich im Zusammenhang mit dem Rekordversuch zu kontaktieren und dich im Teilnehmerjournal aufzuführen. Sie werden ausser an Guinness nicht an Dritte weiter gegeben.</p>
      </div>
    </div>
  </div>
</div>