<div class="row">
  <div class="col-sm-12">
    <h1>Vielen Dank für deine Anmeldung</h1>
    <p>Die untenstehenden Details sowie weitere Informationen werden dir an die angegebene Mailadresse gesendet.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Details deiner Anmeldung</h3>
    <p><strong>Vorname: </strong><%= @registration.first_name %></p>
    <p><strong>Nachname: </strong><%= @registration.last_name %></p>
    <p><strong>E-Mail: </strong><%= @registration.email %></p>
    <p><strong>Startzeit: </strong><%= @registration.timeslot1 %></p>
  </div>
</div>
